<template>
    <div class="radial-calendar-container"
         ref="radialCalendarContainer"
         :style="{
            height: `${(radius * 2 * visibleCirclesAmount + 1) + 60}px`,
            width: `${(radius * 2 * visibleCirclesAmount + 1) + 60}px`,
            marginTop: `calc(100vh - ${(radius * (visibleCirclesAmount + 1))}px)`
         }">
        <div class="radial-calendar"
             v-for="(circle, index) in getCirlcesRange"
             :class="{
                 'hidden': index >= visibleCirclesAmount + currentStep - 1 || index < currentStep - 1,
                 'recent': index == currentStep - 1
             }"
             :style="{
                 width: `${radius * 2 * (visibleCirclesAmount - index + currentStep - 1)}px`,
                 height: `${radius * 2 * (visibleCirclesAmount - index + currentStep - 1)}px`,
                 left: `calc(50% - ${radius * (visibleCirclesAmount - index + currentStep - 1)}px`,
                 bottom: `${ (radius  * visibleCirclesAmount) - (radius * (visibleCirclesAmount - index + currentStep - 1)) - 30}px`
             }"
             v-bind:key=index>
            <div class="radial-calendar-date">
                {{ formatDate(circle.contact_date) }}
            </div>
            <RadialCalendarItems
                :circle=circle
                :circle-index="visibleCirclesAmount - index + currentStep - 1"
                :circle-radius="radius * (visibleCirclesAmount - index + currentStep - 1)"
            ></RadialCalendarItems>
        </div>
    </div>
</template>

<style lang="scss">
.radial-calendar-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: inline-flex;
    border-radius: 50%;

    &:before {
        content: "";
        background: rgb(255, 255, 255);
        background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 80%);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: -38%;
    }
}

.radial-calendar-scroller {
    height: calc(100vh + 1px);
    overflow: hidden;
}

.radial-calendar {
    border-radius: 50%;
    border: 1px #fff solid;
    position: absolute;
    transition: all 300ms;

    &.hidden {
        opacity: 0;
    }

    .radial-calendar-date {
        color: #929292;
        font-size: 16px;
        text-align: center;
        margin-top: -55px;
        opacity: 0;
        transition: all 300ms;
    }

    &.recent {
        .radial-calendar-date {
            opacity: 1;
        }
    }
}
</style>

<script lang="ts" src="./RadialCalendar.controller.ts"></script>