<template>
    <div class="radial-item"
         v-for="(user, userIndex) in users"
         :key="userIndex"
         :style="{left: getUserPosition(userIndex).xPos + 'px', top: getUserPosition(userIndex).yPos + 'px'}"
         :class="{
             'modal-vertical-reversed': isVerticalReversed(userIndex),
             'modal-horizontal-reversed': userIndex < users.length / 2,
         }"
    >
        <div class="user-avatar">
            <img :src="user.img" alt="">
        </div>
        <div class="user-modal">
            <div class="user-data">
                <div class="user-name">{{ user.name }}</div>
                <div class="user-position">{{ user.position }}</div>
                <div class="user-city">{{ user.city }}</div>
            </div>
            <div class="user-last-message">
                <div class="user-last-message-label">
                    Reply from Emery Wells
                </div>
                <div class="user-last-message-details">
                    <div class="user-last-message-date">
                        <div class="user-last-message-date-created">{{ formatDate(user.created_at) }}</div>
                        <div class="user-last-message-date-days-ago">{{ formatDate(user.created_at, true) }}</div>
                    </div>
                    <div class="user-last-message-title">{{ user._orbits_last_message.message_head }}</div>
                    <div class="user-last-message-text"
                         :class="{'expanded': user.expandedMessage}"
                    >
                        {{ user._orbits_last_message.message }}
                    </div>
                    <div class="user-last-message-show-more"
                         :class="{'expanded': user.expandedMessage}"
                         @click="user.expandedMessage = !user.expandedMessage"
                    >
                        {{ user.expandedMessage? 'Less': 'More' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    .radial-item {
        position: absolute;
        transition: all 300ms;

        &.modal-horizontal-reversed {
            .user-modal {
                margin-left: -410px;
                text-align: right;
                padding-left: 0;
            }

            .user-data {
                padding-left: 0;
                padding-right: 120px;
            }

            .user-last-message {
                text-align: left;
            }
        }

        &.modal-vertical-reversed {
            .user-avatar {
                margin-bottom: 30px;
            }

            .user-modal {
                margin-top: -220px;
            }

            &:hover {
                display: flex;
                flex-flow: column-reverse;

                .user-avatar {
                    margin-bottom: 10px;
                }

                .user-modal {
                    display: flex;
                    flex-flow: column-reverse;
                }
            }
        }

        .user-avatar {
            z-index: 1;
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            transition: width 300ms, height 300ms, margin 300ms;

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        .user-modal {
            display: none;
            opacity: 0;
            width: 500px;
            min-height: 300px;
            background: rgba(10,10,10,0.65);
            margin-left: -30px;
            margin-top: -30px;
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-variation-settings:
                "slnt" 0;
            color: #fff;
            text-align: left;
            border-radius: 10px;
            z-index: 2;
            position: relative;
            transition: all 300ms;
            transition-delay: 500ms;
            backdrop-filter: blur(8px);

            &:after {
                content: "";
                z-index: 1;
                position: absolute;
                width: calc(100% + 2px);
                height: calc(100% + 2px);
                border-radius: 10px;
                border: 1px solid transparent;
                background: linear-gradient(180deg,#B5B5B5,#2C2C2C) border-box;
                -webkit-mask:
                    linear-gradient(#fff 0 0) padding-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                display: inline-block;
                left: -1px;
                top: -1px;
            }

            .user-data {
                position: relative;
                z-index: 2;
                padding-left: 120px;
                padding-top: 6px;
                background: #000;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                min-height: 120px;

                .user-name {
                    font-size: 16px;
                    font-weight: bold;
                }

                .user-position,
                .user-city {
                    font-size: 12px;
                }
            }

            .user-last-message {
                color: #fff;
                padding: 0 25px;
                position: relative;
                z-index: 2;

                &-label {
                    font-size: 16px;
                    font-weight: 300;
                    margin-top: 10px;
                    padding: 10px 0 10px 25px;
                    background: url('@/assets/mail_icon.png') no-repeat left center;
                }

                &-details {
                    margin-left: -10px;
                    margin-right: -10px;
                    padding: 10px;
                    background: #000;
                }

                &-date {
                    color: #929292;
                    font-size: 14px;
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 10px;
                }

                &-title {
                    font-weight: 700;
                    font-size: 16px;
                    padding-bottom: 5px;
                }

                &-text {
                    font-weight: 300;
                    font-size: 16px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.expanded {
                        overflow: visible;
                        white-space: normal;
                    }
                }

                &-show-more {
                    display: inline-block;
                    cursor: pointer;
                    padding-right: 24px;

                    &:after {
                        content: "";
                        background: url(/src/assets/chevron-down.png) no-repeat right center;
                        width: 25px;
                        height: 25px;
                        position: absolute;
                        transition: all 300ms;
                    }

                    &.expanded {
                        &:after {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }

        &:hover {
            .user-avatar {
                z-index: 3;
                width: 100px;
                height: 100px;
                margin-left: -20px;
                margin-top: -20px;
            }

            .user-modal {
                display: block;
                opacity: 1;
            }
        }
    }
</style>

<script lang="ts" src="./RadialCalendarItems.controller.ts"></script>