<script setup lang="ts">
import RadialCalendar from '@/modules/RadialCalendar/RadialCalendar.vue'
</script>

<template>
    <main>
        <RadialCalendar/>
    </main>
</template>

<style scoped>
    #app {
        background: #000;
    }

@media (min-width: 1024px) {
    header {
        display: flex;
        place-items: center;
        padding-right: calc(var(--section-gap) / 2);
    }

    .logo {
        margin: 0 2rem 0 0;
    }

    header .wrapper {
        display: flex;
        place-items: flex-start;
        flex-wrap: wrap;
    }
}
</style>
